.slider {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.slider h1 {
  font-size: 2.5rem;
  text-align: center;
  font-weight: 600;
  line-height: 1.1;
  animation: slideInFromLeft 0.5s ease-in-out;
  animation-fill-mode: backwards;
  text-transform: uppercase;
  user-select: none;
  width: fit-content;
  height: fit-content;
}

@keyframes slideInFromLeft {
  0% {
    transform: translateX(-20%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.arrowContainer,
.arrowContainerLeft {
  position: fixed;
  display: flex;
  top: 50%;
  right: 0;
  transform: translatey(-50%);
  width: 50svw;
  height: 50svh;
  padding-right: 2rem;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  cursor: pointer;
  z-index: 1;
}

.arrowContainerLeft {
  left: 0;
  padding: 0 0 0 2rem;
  justify-content: flex-start;
}

.arrowContainer::after,
.arrowContainerLeft::after {
  content: '';
  display: block;
  width: 3rem;
  height: 4rem;
  opacity: 0;
  translate: -50% 0;
  transition: opacity 0.3s ease-in-out, translate 0.3s ease-in-out;
  background: url('/arrow-white.svg') no-repeat center center;
}

.arrowContainerLeft::after {
  rotate: 180deg;
  translate: 50% 0;
}

.arrowContainer:hover::after,
.arrowContainerLeft:hover::after {
  opacity: 1;
  translate: 0;
}

.pagination {
  position: fixed;
  left: 50%;
  bottom: 2rem;
  transform: translateX(-50%);
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
}

.pagination li {
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 50%;
  border: solid 1.5px white;
  display: flex;
  transition: background 0.3s ease-in-out;
  cursor: pointer;
  padding: 0.35rem;
}

.pagination li.active {
  background: white;
}
