.slider
  position: fixed
  width: 100vw
  height: 100svh
  top: 0
  left: 0
  display: flex
  flex-direction: column
  align-content: space-between
  align-items: center
  padding: 1rem

.sliderText
  left: 0
  width: 100%
  height: 100%
  display: flex
  flex: 1
  flex-direction: column
  justify-content: flex-end
  align-items: center
  margin-top: 20vh

.stickerWrapper, .buttonWrapperWrapper
  display: flex
  flex: 1
  flex-direction: column
  justify-content: center
  align-items: center
  padding: 1rem 0
  animation: dropAnimation 0.3s ease 4s // 4s delay only for the last slide, others dynamically in js
  animation-fill-mode: backwards

.paginationWrapper
  display: flex
  flex: 1
  flex-direction: column
  justify-content: flex-end
  padding: 1rem
  z-index: 99

.buttonWrapper
  display: flex
  flex-direction: row
  justify-content: center
  align-items: flex-start
  z-index: 99

.buttonWrapperWrapper >  h6
  letter-spacing: 1px
  font-weight: 400
  margin-bottom: 0.5rem
  margin-top: 0
  animation: fadeIn 5s ease 7s
  animation-fill-mode: backwards

.slider h1
  animation-fill-mode: backwards
  text-transform: uppercase
  user-select: none
  text-align: center
  animation: slideInRight 0.5s linear
  animation-fill-mode: backwards
  letter-spacing: 1px
  @media (max-width: 600px)
    letter-spacing: -0.5px

.slider h1, .sliderBg
  text-align: center
  font-weight: 600
  line-height: 1.1
  text-transform: uppercase
  user-select: none

.arrowContainer,
.arrowContainerLeft
  position: fixed
  display: flex
  top: 50%
  right: 0
  transform: translatey(-50%)
  width: 50svw
  height: 50svh
  padding-right: 2rem
  flex-direction: row
  justify-content: flex-end
  align-items: center
  cursor: pointer
  z-index: 1

.arrowContainerLeft
  left: 0
  padding: 0 0 0 2rem
  justify-content: flex-start

.arrowContainer::after,
.arrowContainerLeft::after
  content: ''
  display: block
  width: 3rem
  height: 4rem
  opacity: 0
  translate: -50% 0
  transition: opacity 0.3s ease-in-out, translate 0.3s ease-in-out
  background: url('/arrow-white.svg') no-repeat center center
  // TODO: enable on launch and above value is 1 then
  // @media (any-hover: hover) 
  //   cursor: pointer
  //   opacity: 0

.arrowContainerLeft::after
  rotate: 180deg
  translate: 50% 0

.arrowContainer:hover::after,
.arrowContainerLeft:hover::after
  opacity: 1
  translate: 0

.sliderBg
  position: fixed
  width: 100vw
  height: 100svh
  top: 50%
  left: 50%
  transform: translate(-50%, -50%)
  overflow: hidden
  font-size: 50rem
  color: red
  display: flex
  justify-content: center
  align-items: center
  color: #00000011
  z-index: -1
  contain: layout

@keyframes zoomIn
  0%
    opacity: 0
    transform: scale(0)
    rotate: 20deg
  60%, 90%
    opacity: 1
    scale: 0.70
    rotate: 0deg
  85%
    transform: scale(1.30)
    rotate: 5deg
  100%
    opacity: 1
    transform: scale(1)

@keyframes dropAnimation
  0%
    opacity: 0
    transform: scale(50)
    rotate: 50deg
  60%, 90%
    opacity: 1
    scale: 0.70
  85%
    transform: scale(1.30)
  100%
    opacity: 1
    transform: scale(1)

@keyframes slideInRight
  0%
    transform: translateX(20%)
    opacity: 0

  100%
    transform: translateX(0)
    opacity: 1

    @keyframes slideOutLeft
      0%
        transform: translateX(-20%)
        opacity: 0

      100%
        transform: translateX(0)
        opacity: 1

@keyframes fadeIn
  0%
    opacity: 0
  100%
    opacity: 1
